.page-video {
  position: relative;
  display: flex;
  justify-content: center;
  height: 690px;
  width: 100%;
  color: cadetblue;
}

.page-video > * {
  position: absolute;
}

.page-video-title {
  top: 25px;
}

.video-container {
  display: grid;
  grid-template:
  "v v v" min-content
  "v v v" min-content
  "v v v" min-content
  /  min-content min-content min-content;
  row-gap: 30px;
  column-gap: 40px;
  top: 120px;
}

.video-card {
  display: grid;
  grid-template:
    "img title"       min-content
    "img description" 1fr
  / min-content 1fr;
  column-gap: 10px;
  height: 120px;
  width: 420px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.video-card:hover {
  transform: scale(1.02);
  transition: 0.15s ease-in-out;
}

.video-image {
  grid-area: img;
  border-radius: 6px 0 0 6px;
  width: 190px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.15);
}

.video-title {
  grid-area: title;
}

.video-description {
  grid-area: description;
  position: relative;
}

.video-description::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 160px;
  top: 10px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.video-description::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 120px;
  top: 50px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.video-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 42px;
  top: 580px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.15s ease-in-out;
  border: 1.5px solid cadetblue;
  cursor: pointer;
}

.video-more:hover {
  transform: translateY(-2px);
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.05);
  transition: 0.15s ease-in-out;
}
